.header {
  display: grid;
  grid-template-columns: 1fr min-content 1fr;
  align-items: center;
  font-size: 18px;
  line-height: 1.3;
  padding: 92px 50px 96px 50px;
}
.header__address {
  display: flex;
  flex-direction: column;
  gap: 1px;
  max-width: 240px;
  justify-self: end;
}
.address {
  font-style: normal;
}
.address p {
  margin-left: 1px;
}
.address a {
  text-decoration: underline;
  text-decoration-thickness: 1px;
  text-underline-offset: 4px;
}
.header .header__menu {
  justify-self: start;
}
.header__logo {
  margin-left: 4px;
  margin-top: 2px;
}
.header__link {
  letter-spacing: 0.3px;
  text-decoration: underline;
  text-decoration-thickness: 1px;
  text-underline-offset: 4px;
}
.header__link_active {
  text-decoration: none;
}
a {
  text-decoration: none;
  color: black;
}
.header__links-list {
  display: flex;
  gap: 32px;
}
.header__links-list-item {
  list-style: circle;
}
.header__links-list-item_no-bullit {
  list-style: none;
}
.cover__title {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.aligned-text_left {
  text-align: start;
}
.aligned-text_center {
  text-align: center;
  margin-right: -30px;
}
.aligned-text_right {
  text-align: end;
  margin-right: -30px;
}
.cover__title .aligned-text {
  font-size: 100px;
  letter-spacing: 30px;
  font-weight: 700;
  text-transform: uppercase;
  line-height: 115%;
  display: block;
}
.cover {
  display: flex;
  flex-direction: column;
  padding: 165px 50px 50px 50px;
  background-image: url("../images/lotus-flower.png");
  background-size: cover;
  background-position: center;
  color: #fff;
  text-transform: uppercase;
  position: relative;
}
.overlay {
  position: absolute;
  inset: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6);
  z-index: 0;
}
.cover__title,
.cover__description {
  position: relative;
  z-index: 1;
}
.cover__description {
  margin-top: 106px;
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: space-between;
  align-items: center;
}
.cover__description-text {
  padding-top: 12px;
  padding-bottom: 11px;
  font-size: 22px;
  line-height: 1.3;
  color: #fff;
  text-transform: uppercase;
  word-spacing: 19.56px;
}
.bet-button {
  background-color: transparent;
  outline: none;
  border: 1px solid #fff;
  padding: 12px 32px 11px 31px;
  font-size: 22px;
  color: #fff;
  text-transform: uppercase;
  cursor: pointer;
  word-spacing: 5px;
}
.lots {
  margin: 180px 24px 0 24px;
  display: flex;
  flex-direction: column;
}
.lots__card-list {
  margin-top: 27px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 25px;
}
.lots__heading {
  margin-left: 40px;
  font-size: 40px;
  font-weight: 700;
  text-transform: uppercase;
}
ul li {
  list-style: none;
}
.lots__card-list-item {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  gap: 30px;
  justify-content: space-between;
  position: relative;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}
.card-link {
  height: 100%;
}
.card_type_film {
  background-image: url("../images/photoOne.png");
}
.card_type_book {
  background-image: url("../images/photoTwo.png");
}
.card_type_picture {
  background-image: url("../images/photoTree.png");
}
.card__title {
  position: relative;
  z-index: 1;
  text-decoration: underline;
  text-decoration-thickness: 1px;
  text-underline-offset: 4px;
  font-size: 22px;
  font-weight: 700;
  line-height: 120%;
  text-transform: uppercase;
  letter-spacing: 0;
}
.card {
  padding: 48px 45px 48px 40px;
  color: #fff;
  z-index: 1;
  position: relative;
  display: flex;
  flex-direction: column;
  background-position: center;
  background-size: cover;
  gap: 34px;
  height: 100%;
  justify-content: space-between;
  align-items: center;
}

.card__text {
  z-index: 1;
  position: relative;
  font-size: 20px;
  line-height: 120%;
  font-weight: 400;
  text-decoration: none;
  color: #fff;
}
.lots .lots__look-more-link {
  text-decoration: underline;
  text-decoration-thickness: 1px;
  text-underline-offset: 5px;
  font-size: 20px;
  font-weight: 400;
  margin-left: 40px;
  margin-top: 30px;
  word-spacing: 4px;
}
.about {
  margin: 120px 27px 0 24px;
  display: flex;
  flex-direction: row;
  gap: 72px;
}
.about__logo {
  padding-top: 34px;
  padding-left: 47px;
}
.about__title {
  margin-top: 135px;
  margin-bottom: 100px;
  font-size: 40px;
  text-transform: uppercase;
  font-weight: 700;
}
.about__text {
  display: flex;
  flex-direction: column;
  gap: 24px;
  font-size: 20px;
  line-height: 1.2;
  font-weight: 400;
  word-spacing: 1px;
}
.about__paragraph {
  padding-right: 5px;
}
footer {
  font-size: 18px;
  margin-top: 180px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  font-weight: 400;
  padding: 0 50px 82px 50px;
}
.footer__menu-list-item {
  text-align: center;
}
.footer__social-list {
  display: flex;
  flex-direction: row;
  gap: 48px;
  justify-content: end;
  align-items: center;
  height: fit-content;
}

.footer__social-list-item {
  text-align: center;
  display: block;
}

.footer__menu-link {
  text-decoration: underline;
  text-decoration-thickness: 1px;
  text-underline-offset: 4px;
}
.footer__menu-link_active {
  text-decoration: none;
}
.footer__address {
  display: flex;
  flex-direction: column;
  justify-self: start;
  line-height: 1.334;
}

.footer__address p {
  margin: 1px 0 0 1px;
}
